body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111; /* Dark background */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* White shadow */
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo img {
    width: 100px; /* Adjust size as needed */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333; /* Dark input background */
    color: #fff;
}

.form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #336699; /* Button background */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
    background-color: #0059b3; /* Button background on hover */
}